# Data analysis exercise

The purpose of this exercise is to provide an example of how you organize, perform, and communicate your work. The exercise itself is not meant to be difficult or particularly time consuming. We value our time, and we value your time. Feel free to explain what you would do if you had more time. Please include all of the source code for your analysis in your report, and please describe all of the steps. We should be able to reproduce your analysis with little work using the content of your report.

This exercise asks some questions about a collection of records that simulate personal information such as name, address, and phone number. The associated data file contains records in JSON Lines format with one JSON object per line. The records contain nested fields, and different records might contain different fields. The high level concept of this exercise is to picture this data set as a structured table. Because each JSON record is independent, some or all of the columns in this table can have missing values. Below, we refer to the names of the columns in this table as named fields.

Please present your solution as a single report that includes code, descriptive text, and results. We encourage you to include explanations of your approach to each problem. Examples of acceptable formats are PDF or HTML files generated from RMarkdown, Juypter Notebooks, or any another method you prefer.

### 1. Start by making a list of all of the nested named fields that appear in any record. Concatenate nested field names using a period '.' to defind named fields for nested records. Present the list in alphabetical order. For example, if our data file contained the following
{"name": "Jane Doe", "address": {"personal": {"street": "123 Main St.", "city": "Springfield"}}}
{"name": "John Doe", "email": "johndoe@example.com"}
{"name": {"first": "Anne", "last": "Smyth"}, "phone": "123-245-7890"}
then the ordered list of fields would be
["address.personal.city", "address.personal.street", "email", "name", "name.first", "name.last", "phone"]
Note that a top-level named field such as "name" could contain either text or a nested JSON object. Thus "name" and "name.first" could both exists as separate fields in your list.

**Solution:** To parse the jsonl file, I used *json_normalize* from *pandas.io.json* and *jsonlines* packages. The *jsonlines* package could read the jsonl file line by line and the *json_normalize* package could parse the nested dict in jsonl file and concatenate nested field names using a period '.' to defind named fields for nested records. Unfortunately, the *jsonlines* package doesn't work for my Jupyter Notebook so I did it in python command. I parse the jsonl file and write the pandas dataframe into a csv file. Then I loaded the csv file in Jupyter Notebook for further analysis. I put my code in the markdown cell because I run it in the python commander. 

**Code for Q1:(from command prompt)**
```
>>> import jsonlines
>>> from pandas.io.json import json_normalize
>>> import pandas as pd
>>> list= []
>>> with jsonlines.open('ida_wrangling_exercise_data_2017-02-13.jsonl') as reader:
        for obj in reader:
            list.append(pd.DataFrame.from_dict(json_normalize(obj)))
>>> result=pd.concat(list)
>>> result=result.reset_index().drop('index',axis=1)
>>> result=result.reindex_axis(sorted(result.columns), axis=1)
>>> counter=0
>>> with jsonlines.open('ida_wrangling_exercise_data_2017-02-13.jsonl') as reader:
        for obj in reader:
            counter=counter+1
>>> print(counter)
>>> print(len(result))
>>> result.to_csv('ida_extracted_ida_extracted_03_02_2017')
```

In [ ]:
#**Code for Q1:(easier to copy and include explanation, I run it in commander but not here)**
#import packages, 
import pandas
from pandas.io.json import json_normalize
import jsonlines
#generate an empty list for concatenating pandas dataframe after reading jsonl file
list= []
#I changed the file name from '.' to '_' to distinguish from the file type
with jsonlines.open('ida_wrangling_exercise_data_2017-02-13.jsonl') as reader:
    for obj in reader:
        list.append(pd.DataFrame.from_dict(json_normalize(obj)))
#generate pandas dataframe as structured table
result=pd.concat(list)
#drop the old index and reset index
result=result.reset_index().drop('index',axis=1)
#sort the list of fields in alphabetical order
result=result.reindex_axis(sorted(result.columns), axis=1)
#count the length of data in jsonl file and generated dataframe to make sure there is no data loss
counter=0
with jsonlines.open('ida_wrangling_exercise_data_2017-02-13.jsonl') as reader:
    for obj in reader:
        counter=counter+1
print(counter)
print(len(result))
#write generated structured table into csv for further analysis in Jupyter Notebook 
result.to_csv('ida_extracted_ida_extracted_03_02_2017')

### 2. Answer the following questions for each field in your list from question 1.
- What percentage of the records contain the field?
- What are the five most common values of the field?

In the example data above, the field "address.personal.city" occurs in 1 out of 3 records so the fraction of records containing that field is 1/3. The exact percentage is 100/3. For this exercise, please approximate numeric answers to a reasonable precision such as 33.3%. Note that the field "name" occurs in the first and second record but not in the third record where the fields "name.first" and "name.last" are present. Thus, the "name" field occurs in 2/3 or roughly 66.6% of the records in the example above.

**Solution:** 

At first, I loaded the generated *ida_extracted_03_02_2017.csv* file into pandas dataframe using *pandas.read_csv*. 

Then I wrote a function of *percentage_of_field_info* to calculate the percentage of the records contain the field. In the function of *percentage_of_field_info*, I calculated the how many missing value in each field then divided by length of data in each field. The percentage of the records contain the field equals 100(1-percentage of missing value). I represented the results in a dataframe with one row. 

As for the five most common values of each field, I wrote a function of *top_5_most_common* to calculate the five most common values of each field. I used *value_counts()* method to measure the count for each field value. I represented the results in a dataframe with 5 rows to show the five most common values of each field in descending order.

In [194]:
#import necessary package and load csv data back into pandas dataframe as df
import pandas as pd
import numpy as np
df=pd.read_csv('ida_extracted_03_02_2017.csv')
df.drop(df.columns[[0]],axis=1, inplace=True)
df

,address,address.city,address.state,address.street,address.zip,dob,email,id,name,name.firstname,name.lastname,name.middlename,phone,record_date,ssn
0,NaN,Hoodburgh,RI,86314 David Pass Apt. 211,83973,6/30/1971,opark@hotmail.com,01d68a4c598a45559c06f4df0b3d82cb,NaN,Cynthia,Dawson,Claire,624-869-4610,2006-07-08T09:02:13,xxx-xx-2412
1,"20722 Coleman Villages\r\nEast Rose, SC 71064-...",NaN,NaN,NaN,NaN,9/9/1965,sperez@armstrong.com,876ff718291d4397bb1e0477ceee6ad9,NaN,Tamara,Myers,NaN,1-594-462-7759,2009-03-28T20:22:57,xxx-xx-8025
2,NaN,New Julie,UT,6676 Young Square,73125,4/12/1993,uortiz@gmail.com,81753097bf7e4e2085982f422bdb9cda,NaN,Jamie,Alexander,NaN,472.218.5065x389,2016-08-30T20:31:39,xxx-xx-0568
3,"0932 Gomez Drives\r\nLeefort, MD 46879-3166",NaN,NaN,NaN,NaN,4/14/1977,palmerdiane@yahoo.com,2c2f7154b80f40ca80d08c5adc54ea45,NaN,Angela,Garcia,Alexis,1-663-109-4460x1080,2001-02-15T18:50:35,xxx-xx-9825
4,NaN,East Sharonstad,ME,158 Smith Vista,42483,3/19/1970,nancymaxwell@gmail.com,4f5263f339694d068e17ee7fdbb852b8,NaN,Jennifer,Rodriguez,NaN,233-423-3823,2014-06-21T14:36:01,xxx-xx-9104
5,NaN,Thompsonview,AR,461 Knapp Unions,2398,12/23/1989,peterkhan@serrano.net,e615757bb70e4c9e8ec532f22a764a3e,NaN,Keith,Meadows,NaN,686-305-8557x0623,2012-03-02T10:37:14,xxx-xx-4652
6,9524 Danielle Burg Apt. 849\r\nNorth Vickistad...,NaN,NaN,NaN,NaN,5/9/1983,laurenreilly@lopez-hurst.com,60880b0bcf614ccda8688409ee9d8db3,NaN,Shane,Garcia,NaN,721-135-6630,2013-01-19T12:17:21,xxx-xx-5597
7,"407 Patrick Shoal\r\nWilliamsshire, VI 49526",NaN,NaN,NaN,NaN,10/5/1989,wallaceheather@obrien-richardson.com,357cbf915fdb46dfa76c7bd3ea10feff,NaN,Charles,Bell,Lee,528-480-7488x60984,2004-03-03T07:35:59,xxx-xx-7244
8,NaN,Chrisview,CT,3697 Mills Estates Apt. 499,70997-3753,6/24/1987,michael18@yahoo.com,bbf4acd3660c4ba1803f396d789e538a,Morgan Morris,NaN,NaN,NaN,9316674472,2000-03-07T03:55:21,xxx-xx-7034
9,NaN,NaN,NaN,NaN,NaN,3/20/1980,erinsanford@garcia.com,3422bcb95ad6454f8348087ba25902f0,Bernard Wilkerson,NaN,NaN,NaN,196-454-2484,2016-11-29T21:01:43,xxx-xx-0866
10,NaN,North Deborahside,WY,01737 Hailey Drives Suite 056,77615,10/23/1989,zimmermanbrian@gmail.com,156fe664697b49349ccdc0d0ff054a33,NaN,Amanda,Davis,NaN,443.378.1619x08587,2015-06-04T20:14:05,xxx-xx-2246
11,"395 Anna Roads Apt. 613\r\nAlexandershire, FL ...",NaN,NaN,NaN,NaN,3/9/1977,betty85@yahoo.com,53a795877fe24c09a0a950e9febf9758,NaN,Adrian,Guerra,NaN,+74(2)6173978109,2001-05-04T02:12:57,xxx-xx-1050
12,NaN,Lake Ashley,MN,56833 Baker Branch,15884,9/26/1977,dustin06@gmail.com,b75dda689be842a8ad6bb52f3783cabc,Casey Haas,NaN,NaN,NaN,+62(2)9284019429,2016-09-17T12:06:53,xxx-xx-4247
13,NaN,Reginaldfurt,MO,045 Bennett Motorway Suite 404,68916,8/2/1962,scottboyd@hotmail.com,43989614a5d84a07b64f5f397d6e8079,NaN,Tiffany,Hall,Gabrielle,NaN,2009-09-07T00:32:29,xxx-xx-9110
14,NaN,East Stephaniefurt,VI,908 Matthew Ports Suite 313,15956-9706,12/12/1975,NaN,04d41c1e5ab748f8aeeacff3e9536c9c,Barbara Harris,NaN,NaN,NaN,(683)392-8521,2012-08-09T01:40:26,xxx-xx-8164
15,"8439 Greer Center Suite 843\r\nNorth Ryanland,...",NaN,NaN,NaN,NaN,6/16/1989,morrisellen@yahoo.com,b195eb79b7ce427684442617f98cca5a,Crystal Bennett,NaN,NaN,NaN,494.161.8907x4812,2003-11-28T10:39:33,xxx-xx-8301
16,NaN,Sanchezshire,NC,78407 Timothy Viaduct,03505-6647,11/13/1983,NaN,2a60628968fd4659950b12f1a95d7dfb,Eric Cain,NaN,NaN,NaN,(406)239-6513x03040,2005-02-02T10:25:08,NaN
17,15131 Alicia Islands Suite 074\r\nSouth Javier...,NaN,NaN,NaN,NaN,11/3/1985,ldonaldson@yahoo.com,cf67ba8b002f4feca95445ecb4698d2f,NaN,Peter,Trevino,Gabriel,504-014-4601x674,2009-03-20T11:42:09,NaN
18,NaN,NaN,NaN,NaN,NaN,4/12/1965,mcdonaldchristopher@morrison.info,81bf075d949c45f1a718988c2990fe7b,NaN,Steven,Davis,Charles,532-944-5053,2003-05-01T16:37:31,xxx-xx-4282
19,"4796 Norton Summit\r\nBillton, MO 80361-8343",NaN,NaN,NaN,NaN,2/18/1948,andrewsjames@williams.net,5f4dceaff4024e10af09897e874e7ca5,Cindy Banks,NaN,NaN,NaN,880.073.4374x9017,2009-07-08T11:02:46,xxx-xx-7855
20,NaN,Gonzalezburgh,LA,39252 Dominguez Islands Suite 668,21960,12/29/1973,NaN,c2bbd72101e74c288f0944200e4afaf1,NaN,Lindsay,Chambers,NaN,685-597-1056x1053,2004-03-27T09:22:28,xxx-xx-1795
21,NaN,East Stephanieside,IA,8733 Matthew Courts,91147,5/3/1989,jonesmatthew@yahoo.com,14b0426544904bdfbf16c29037e1eea2,NaN,Sara,Taylor,Angela,2087793627,2002-01-01T20:47:36,xxx-xx-7938
22,78000 Bryan Plaza Suite 275\r\nSouth Matthewbu...,NaN,NaN,NaN,NaN,1/7/1955,zunigaglen@gmail.com,6dc4e84b29bb43afbe9ef9bae900ae2e,NaN,Amy,Hall,NaN,217.917.9874x603,2014-10-08T02:49:20,xxx-xx-2641
23,"31979 Wendy Hollow Suite 911\r\nNew Jeremy, VI...",NaN,NaN,NaN,NaN,5/18/1958,greencathy@gaines.org,af7468b4d2a74473bcd199f54914e0cc,Thomas Butler,NaN,NaN,NaN,217-008-6889,2014-12-20T08:29:17,xxx-xx-6296
24,NaN,NaN,NaN,NaN,NaN,5/25/1979,johnny69@robinson.com,baaaee5fd0a043cbb48832979679d5b9,NaN,Christopher,Clark,NaN,353-048-3198x85710,2003-11-27T19:20:10,xxx-xx-0895
25,"6063 Sarah Passage\r\nGaryview, IA 04420",NaN,NaN,NaN,NaN,7/8/1947,mccartysheri@gmail.com,6d116451a92c4898bd6dad55432e6e54,NaN,Melissa,Sanford,NaN,+84(7)5628190571,2006-01-25T19:03:04,xxx-xx-6695
26,NaN,West Jonathan,MT,808 Lloyd Canyon,89500-9726,5/8/1950,NaN,f27f7fdf6462424c9b396e9c90be4a5c,NaN,Crystal,Chapman,NaN,1-290-722-3334x15776,2002-09-20T23:16:00,xxx-xx-5562
27,NaN,Josephshire,MN,3852 Garcia Rapids,25315,10/5/1950,NaN,5013fa1de8994aa8b9e50b39bcb745d8,NaN,Mallory,Gilbert,NaN,809-572-1158x84716,2014-02-26T07:30:41,xxx-xx-4379
28,"0597 Ann Shore\r\nNorth Mitchell, OK 36332",NaN,NaN,NaN,NaN,1/28/1991,jessicarobinson@humphrey-rogers.biz,2466be83feab49e298e7547d6a3a9d80,NaN,Elizabeth,Hutchinson,NaN,2996289892,2016-06-19T09:46:51,xxx-xx-6533
29,"90745 Stephanie Run\r\nNew Barbarahaven, AZ 72722",NaN,NaN,NaN,NaN,8/30/1980,anita93@harris.com,e87dc8df69a64b43b0bc1e3afbadfdc9,NaN,Richard,Reed,Samuel,1-688-873-4927x90906,2007-11-24T00:34:09,xxx-xx-4715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149970,NaN,Taylorfort,AZ,8680 Kimberly Drives,23518,8/22/1958,tommy14@bass.com,7f94ec1bd5d24e9cba49a94cbd84f61d,Mary Everett,NaN,NaN,NaN,453.670.4394x245,2013-09-24T08:03:50,xxx-xx-8345
149971,NaN,Ryanville,MA,0387 Adam Stravenue,72024-8777,NaN,samanthalewis@west.com,042c0690ed8c4153a22f5af690805199,NaN,Nathaniel,Turner,NaN,+66(7)4767380794,2003-10-08T12:45:35,xxx-xx-2982
149972,NaN,Lake Aaronville,KS,9170 Reese Forge,16068-9123,5/9/1971,jaimeaguilar@dickson.net,ccc8a588dbea4546872828387265220f,Nathan Hill,NaN,NaN,NaN,(721)466-3984,2001-06-28T22:58:03,xxx-xx-4842
149973,NaN,Smithview,WV,1797 Robert Station Suite 929,88689-3634,12/22/1954,danielrobinson@daniels.com,5c86a5a7b6b24da3a7ef7e255857a753,Olivia Fisher,NaN,NaN,NaN,(426)129-4414,2006-05-22T12:34:16,xxx-xx-4231
149974,NaN,NaN,NaN,NaN,NaN,5/24/1961,jchurch@anderson.com,be32047190ba486eaf73fd2ab646e2f1,NaN,Tonya,White,Tiffany,984-484-5527x89698,2011-05-24T06:04:15,xxx-xx-4486
149975,NaN,NaN,NaN,NaN,NaN,6/6/1979,monique48@hotmail.com,005a0ddf497249ad808e5f4948f9b361,NaN,Victoria,Vincent,NaN,291-902-8427,2002-12-25T18:36:49,xxx-xx-1326
149976,"9218 Gomez Mountain\r\nJohnsonville, WY 81584-...",NaN,NaN,NaN,NaN,6/18/1956,robertpowers@gmail.com,ab44de3aad3f411fb28ab69f3671da53,Dean Johnson,NaN,NaN,NaN,974-236-6898,2011-08-31T07:58:55,xxx-xx-7976
149977,NaN,Port Kyle,SC,424 Fox Burgs Suite 528,18659-8678,NaN,riverskaren@yahoo.com,d18b90ecd71a42849e822dceb47e668c,Gail Hernandez,NaN,NaN,NaN,227-931-7153,2008-02-29T19:10:28,xxx-xx-1413
149978,NaN,North Olivia,GU,3076 Diane Course,1607,5/31/1964,nicholasday@yahoo.com,461bc49b05d94f378701893ca05f6bc5,NaN,Paul,Bryant,NaN,487-465-1515x963,2004-01-23T06:43:23,xxx-xx-5653
149979,"89099 Sanchez Canyon Suite 382\r\nWest Sarah, ...",NaN,NaN,NaN,NaN,6/15/1963,aaron87@davis.biz,2482c95b01424aaf9dd972b14e0e43b7,Kelsey Brady,NaN,NaN,NaN,+41(3)6772802266,2016-05-15T22:42:58,xxx-xx-4444
149980,NaN,Emilyfurt,MI,085 Ryan Forest Apt. 471,29047,6/9/1975,leehill@gonzalez.com,a3b8062b955547568cc4a45fe198f36e,Bradley Scott,NaN,NaN,NaN,1-871-965-8793x66131,2010-03-24T17:32:54,xxx-xx-1457
149981,"034 Andrea Run\r\nThomasland, AL 19551-9506",NaN,NaN,NaN,NaN,12/3/1947,NaN,802723aed72e47ebad7a9ead2fddbb33,NaN,Natalie,Simmons,Brittany,1003458292,2005-04-09T06:28:15,NaN
149982,"2179 Tiffany Oval Suite 149\r\nMaddoxville, GA...",NaN,NaN,NaN,NaN,2/13/1962,fhall@faulkner.com,c68c972a2c4d4747ad31cc78cfbeba11,NaN,James,Watson,NaN,(748)291-7708,2002-05-22T19:47:51,xxx-xx-6078
149983,NaN,South Stevenmouth,ID,472 Fernandez Hills,76119,9/11/1954,dcohen@wilson.net,3f116158632640df9247f43a6db02827,NaN,Corey,Blankenship,Jeremy,618.889.4227,2014-11-01T16:06:54,xxx-xx-9209
149984,"828 Wilson Shore Apt. 874\r\nHillfurt, UT 58863",NaN,NaN,NaN,NaN,4/25/1978,debramoody@medina.com,ed719d00458c4e79a29c6da7113ff9cd,NaN,Haley,White,NaN,(838)809-6942x833,2002-04-07T16:15:42,xxx-xx-2829
149985,"239 Wayne Harbors Suite 621\r\nMalloryfort, UT...",NaN,NaN,NaN,NaN,3/16/1967,holawrence@maldonado-winters.com,1598b618efdd4976a16a11d6a9da2b90,NaN,George,Gutierrez,Edward,391-239-2565x11047,2008-11-11T16:38:15,xxx-xx-3821
149986,"033 Julia Avenue\r\nCarolynbury, VT 09845-4107",NaN,NaN,NaN,NaN,11/27/1954,jessicabuchanan@herrera.com,16dbe39958684d839077eaec2bde3e44,NaN,Christina,Schwartz,Savannah,1-248-608-6600x091,2006-01-22T20:16:43,xxx-xx-3674
149987,"31640 Reed Knolls Apt. 548\r\nMelissaside, GA ...",NaN,NaN,NaN,NaN,6/13/1973,tracey09@morris-hawkins.com,44158a2a26534ba7b432216f42792388,NaN,Aaron,Gonzales,Edward,+82(6)2211988571,2012-09-02T07:12:56,xxx-xx-8861
149988,NaN,NaN,NaN,NaN,NaN,8/12/1969,NaN,36bde729e51342d9a0471e15b106d791,NaN,Jason,Sullivan,Timothy,1-916-400-8688x853,2010-03-20T15:22:38,xxx-xx-9328
149989,"044 Stone Avenue\r\nMarialand, CT 96606",NaN,NaN,NaN,NaN,3/11/1955,paynelaura@wells.com,2d41d96a1f94435e9e5a3e44ad6f42f7,Mariah Wilson,NaN,NaN,NaN,+02(0)3284519718,2002-06-26T05:22:08,xxx-xx-6638
149990,NaN,Lake Rebeccabury,AZ,62284 Scott Motorway Apt. 391,35034,NaN,bowersjulie@gonzalez.biz,8ff139627d4e4e8bbacbadb81cff9128,NaN,Brittany,Alvarez,Stacey,+18(9)0609811091,2001-03-28T20:48:09,xxx-xx-8014
149991,"40839 Francis Turnpike\r\nNorth Brandon, IN 04334",NaN,NaN,NaN,NaN,2/21/1948,baileytara@gmail.com,3df7bf5940f6434f8e4fcce870f91b51,Sue Oconnell,NaN,NaN,NaN,903-410-7160x0983,2015-06-03T19:29:22,xxx-xx-4399
149992,"518 Bailey Plains Suite 709\r\nWest Mariaview,...",NaN,NaN,NaN,NaN,5/31/1984,NaN,e73560393d62438ca04f949ac7014c32,NaN,Ryan,Sloan,NaN,1-465-235-2798,2006-07-09T16:31:55,xxx-xx-8196
149993,"244 Kathleen Stravenue\r\nRyanmouth, SD 88692-...",NaN,NaN,NaN,NaN,8/29/1967,troyparker@williams-myers.com,d6485b724d4e496f9ae925c874691f22,NaN,Ray,Turner,NaN,+16(3)5548805840,2012-10-19T20:32:49,xxx-xx-7774
149994,NaN,NaN,NaN,NaN,NaN,2/24/1969,lovelisa@hotmail.com,9f567315891c4cf896b6582c79108e05,Anna Davis,NaN,NaN,NaN,1-724-393-5084,2014-06-30T10:53:03,xxx-xx-7877
149995,"52805 Higgins Harbor\r\nJessicamouth, SC 83621...",NaN,NaN,NaN,NaN,8/18/1948,NaN,91b1d3cbcb794e49a41cfdfe66ff931d,NaN,Eduardo,Mejia,Curtis,704-719-8698,2016-09-24T17:00:36,xxx-xx-9311
149996,NaN,Melissachester,GA,231 Johnson Point,41818,10/28/1988,NaN,af070fd4476946e6b4755232d8ec8252,NaN,Emily,Solis,NaN,(548)476-4285x0779,2014-11-17T01:50:15,xxx-xx-5319
149997,"8772 Evans Mill\r\nThomasborough, AK 26835-9457",NaN,NaN,NaN,NaN,NaN,daisy78@johnson-johnson.info,e8cddfe3494e486aae6735e027fd6c8d,Anna Walter,NaN,NaN,NaN,(926)119-0532x51870,2006-08-16T21:40:19,xxx-xx-0710
149998,NaN,West Heathermouth,UT,85861 Schmidt Locks,17785,11/10/1977,hilledward@gutierrez.net,b47fedaa20bd428fb674aeb8db0ba1cc,Gary Rodriguez,NaN,NaN,NaN,670-853-5186,2012-03-29T18:42:39,xxx-xx-6767
149999,"3178 Mary Plains\r\nKeithville, VT 34029-5102",NaN,NaN,NaN,NaN,11/17/1987,jessicalewis@carroll-martinez.com,6081948439244760865cf6c21ad77248,NaN,Alex,Johnson,NaN,791-310-0485,2004-05-29T18:44:26,xxx-xx-7983

In [195]:
# value_counts() trial to make sure it works
items_counts = df['address.state'].value_counts()
list(items_counts.index[0:5])

['NC', 'DC', 'MI', 'MD', 'OH']

In [196]:
# define the function to calculate the percentage of the records contain the field by counting missing value
def percentage_of_field_info(data, col):
    perc=(1-float(data[col].isnull().sum())/len(data[col]))*100
    #print the percentage in required format
    return("{0:.1f}%".format(perc))

In [197]:
#calculate the percentage of the records contain the field by calling the function above 
#represent results in a dataframe
df_percent=pd.DataFrame(df.loc[[0]])
#get the column names for iteration purpose
names = df.columns.values 
#iterated for each field
for name in names:    
    df_percent[name]=percentage_of_field_info(df, name)
df_percent

,address,address.city,address.state,address.street,address.zip,dob,email,id,name,name.firstname,name.lastname,name.middlename,phone,record_date,ssn
0,50.1%,40.8%,40.8%,40.8%,40.8%,95.9%,87.3%,100.0%,28.7%,70.0%,70.0%,29.1%,93.5%,100.0%,95.0%

In [198]:
#define function to calculate the five most common values of each field using value_counts() method
def top_5_most_common(data, col):
    items_counts = data[col].value_counts()
    return(pd.Series(items_counts.index[0:5]))

In [199]:
#calculate the five most common values of each field by calling the function above
#represent results in a dataframe
#get the column names for iteration purpose
df_common=pd.DataFrame(df.loc[0:4])
names = df.columns.values
for name in names:
    df_common[name]=top_5_most_common(df, name)
df_common

,address,address.city,address.state,address.street,address.zip,dob,email,id,name,name.firstname,name.lastname,name.middlename,phone,record_date,ssn
0,"489 Katherine Heights\r\nSouth Brentmouth, AS ...",New Michael,NC,0269 Charles Ports,26231,11/13/1950,zsmith@gmail.com,40f91587e40d427594d0e64342a67322,David Smith,Michael,Smith,Michael,1-298-341-1025,2005-10-11T21:17:11,xxx-xx-6568
1,"6306 Amanda Meadows\r\nDavidburgh, TX 61942-3241",Lake Michael,DC,0568 Sydney Junctions Apt. 946,17086,1/25/1963,kwilliams@yahoo.com,711d97cc4093470ab0285ffdd50fe8e9,John Smith,David,Johnson,David,(525)060-8427,2008-03-20T02:06:49,xxx-xx-2156
2,55660 Christie Islands Apt. 553\r\nCruzchester...,East Michael,MI,09733 Conley Place Apt. 485,53097,6/11/1964,qsmith@gmail.com,568bf4fddac24c06a568ebb2262fe497,Michael Smith,James,Williams,Jennifer,462325985,2007-08-02T05:27:32,xxx-xx-2027
3,"43454 Timothy Dale Suite 584\r\nLangburgh, SC ...",Port Michael,MD,2655 Jasmine Rest,98018,8/30/1989,asmith@hotmail.com,4f399c86f8bb4b67a119454504328bfd,Michael Johnson,Jennifer,Brown,James,361-784-8782x29901,2010-10-13T02:12:50,xxx-xx-2798
4,"62245 Lauren Summit\r\nSteveburgh, MH 25804-7405",North Michael,OH,2477 Abbott Stream Apt. 718,99528,1/18/1968,ljohnson@hotmail.com,a18d7f2439444f4bb513aad4b8f6da17,Joseph Smith,John,Jones,John,1-947-394-7082x2126,2008-02-11T00:51:53,xxx-xx-2963

### 3. How many distinct first names appear in this data set? Explain your procedure for identifying distinct first names.

**Solution:**

I reloaded the generated structured table to avoid the change of data due to the function call above and make sure the data is consistent. Since we have two different name fields (*name* and *name.firstname*), I considered the unique first names in these two fields just in case they have different unique names. First, I got the first name values as *name_split* from the field of *name* by spliting the string using delimiter ' ' and selecting the first element. I converted the type of the field of *name* to *str* because I want to align the new column with the other data and find the missing value ('nan') easily at the end. I used unique() method to obtain all distinct values from *name.firstname* and *name_split* but this method include missing value so I need to remove the missing value when I calculate the number of distinct first names at the end. I concatenate the distinct first names from *name.firstname* and *name_split* then used the unique() method again to get the final answer.

In [200]:
#reload data for data consistentcy
import pandas as pd
import numpy as np
df=pd.read_csv('ida_extracted_03_02_2017.csv')
df.drop(df.columns[[0]],axis=1, inplace=True)
#get the first name from the field of 'name'
df['name_split']=df['name'].astype(str).apply(lambda x:x.split(' ')[0])
#get the distinct first names from 'name.firstname' and convert missing value to 'nan'
uni_firstname1=df['name.firstname'].astype(str).unique()
#get the distinct first names from 'name_split' and convert missing value to 'nan'
uni_firstname2=df['name_split'].unique()
#remove missing value from distinct first names
uni_firstname1=uni_firstname1[uni_firstname1!='nan']
uni_firstname2=uni_firstname2[uni_firstname2!='nan']
#concatenate these two unique values
uni_firstname=pd.Series(np.append(uni_firstname1,uni_firstname2)).unique()
uni_firstname_No=len(uni_firstname)
print(uni_firstname_No)

695

### 4. How many distinct street names appear in this data set? Explain your procedure for identifying distinct street names.

**Solution:**
    
Similiar thought with last question, I extracted the street name from *address.street* and *address* and I extracted the street name and No. to *address_split_street* from the field of *address* first. I used the delimiter '\r\n' to split the street line and got the first element from the field of *address*. Then I found most the street name are the second and third word after the street number in the values of *address* and *address_split_street*. I wrote a function to extract the second and third word from the field but extract the second word only if the street name is short. I think the manager pre-cleaned the data and make it easier. Otherwise, the extraction of street name is a difficult task considering so many types of street addresses. I found some PO box addresses in the field of *address* which are extracted by my method but are not exactly street name. I will modify this in the future if I have more time. I assume the PO box are distinct values as well now. At the end, I concatenated the distinct street names from these two fields of *address_split_street_extracted* and *address.street_extracted* and got the distinct street names for both fields. The same idea as last question.

In [201]:
#define a function to extract the street name, 
#majority of the street name are located at the second and third word in the string
def extract_street(s):
    if s == 'nan':
        return 'nan'
    elif len(s.split(' '))>=3:
        return s.split(' ')[1]+' '+s.split(' ')[2]
    else:
        return s.split(' ')[1]

In [207]:
#extract street line from 'address' using '\r\n' as delimiter
df['address_split_street']=df['address'].astype(str).apply(lambda x:x.split('\r\n')[0])
#extract street name by calling the function above
df['address.street_extracted']=df['address.street'].astype(str).apply(lambda x:extract_street(x))
df['address_split_street_extracted']=df['address_split_street'].astype(str).apply(lambda x:extract_street(x))
#get the distinct street name from 'address.street_extracted' and 'address_split_street_extracted'
uni_street1=df['address.street_extracted'].unique()
uni_street2=df['address_split_street_extracted'].unique()
#remove missing value 
uni_street1=uni_street1[uni_street1!='nan']
uni_street2=uni_street2[uni_street2!='nan']
#concatenate two fields and get distinct values from both fields
uni_street=pd.Series(np.append(uni_street1,uni_street2)).unique()
uni_street_No=len(uni_street)
#output results
print(uni_street_No)

85450

### 5. What are the 5 most common US area codes in the phone number field? Explain your approach to identify the US area codes in this data set.

**Solution:**

For the first step, I used regular expression to match and extract the area code. For this dataset, the first three consecutive digits in the values of the field of *phone* are the area code because the prefix country code has a delimiter before the area code if existing. No matter the area code is in parentheses or using delimiter before or after, they always in a consecutive position. Therefore, I just need to extract the first three consecutive digits. This is not valid if there is no delimiter between country code and area code, for example, '+11234567890' but we don't have such case here. If I meet this case in the future, I could first judge the number of digits then extract the consecutive digits from position 2 to position 4. Also, I don't match the phone number in US only because I assume the majority of phone are from US since they don't have a prefix country code. I will check the country code in the future. After extracting area code, I used the same method of value_counts() as question 2 to find the 5 most common US area codes.

In [203]:
#import re to do regular expression match 
import re
#trial with first value to make sure method works
m = re.search('[0-9]{3}', df['phone'][0])
print(m.group(0))
df['address.street'][0].split(' ')[1] +' '+df['address.street'][0].split(' ')[2]

624

'David Pass'

In [204]:
#define a function to extract the area code from the phone number
def get_area_code(s):
    if s == 'nan':
        return np.nan
    else:
        m = re.search('[0-9]{3}', s)
        return(m.group(0))

In [205]:
#extract the area code by calling the function above
df['area_code']=df['phone'].astype(str).apply(lambda x:get_area_code(x))

In [206]:
#get the 5 most common US area codes using value_counts() method
items_counts = df['area_code'].value_counts()
pd.Series(items_counts.index[0:5])

0    947
1    996
2    292
3    913
4    574
dtype: object